h1 Orders...

h3 Pages with dynamic week navigation
= link_to analytics_path do
  | See Analytics (Task 7.1 - 7.2 - 7.3)
br
br

h3 Pages with full year data
= link_to frequencies_path do
  | See frequencies (Task 7.4)
br
br
= link_to recurrences_path do
  | See month recurrence (Task 7.5)
